.modal {
  .modal-dialog {
    min-height: 200px;
    max-width: 1000px;

    .modal-content {
      background-color: #fff;
      flex-wrap: wrap;

      .modal-header {
        padding: 5px;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;

        .modal-title-wrapper {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          align-content: center;

          .modal-logo {
            width: 22px;
            height: 22px;
            object-fit: contain;
          }

          .modal-title {
            font-size: 14px;
            margin-left: 10px;
          }
        }

        .btn-close {
          margin: 0;
          margin-right: 10px;
        }
      }

      .modal-body {
        .item-header {
          .item-title {

            p {
              color: #0071a6;
              font-size: 16px;
              text-transform: uppercase;
            }
          }
        }

        .item-data {
          max-width: 100%;
        }

        .upload-item-wrapper {
          margin-top: 15px;

          .upload-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;


            .upload {
              margin-left: 10px;
              outline: none;
              border: none;
              background-color: #0071a6;
              color: #fff;
              border-radius: 5px;
              padding: 5px 3px;
              max-width: 120px;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.loading-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-modal__show {
  z-index: 999;
  background-color: lightgrey;
}

// .item-function-btn {
//   display: none;
// }

.screen-large .responsive-paddings {
  padding: 15px !important;
}

.dx-datagrid {
  padding: 15px;
}