body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dx-pager {
  padding: 15px 0 0;

  .dx-page-size {
    &:hover {
      border-radius: 0;
    }
  }
}

.dx-row .dx-header-row,
.dx-datagrid-headers .dx-datagrid-nowrap {
  background-color: #0071a6;
}

.dx-scrollview-content {
  background-color: #fff;

  .dx-datagrid {
    padding: 0;
  }
}

.toolbar-label {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2;
}

.screen-large .responsive-paddings {
  padding: 15px 15px 0 !important;
  gap: 10px 0;
}

.dx-datagrid-header-panel {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0 !important;
  padding: 0;
  background-color: #fff;
  margin-bottom: 15px;
}


.dx-button-has-icon {
  transform: translateX(-3px);
}

.dx-dropdownbutton.dx-dropdownbutton-has-arrow .dx-button-has-icon.dx-buttongroup-last-item .dx-button-content {
  background-color: #0071a6;
  padding: 7px;

  & i {
    color: #fff;
  }

  .dx-icon-export {
    display: none !important;
  }

  .dx-icon-spindown {
    width: 16px !important;
    margin-right: 0;
    margin-left: 0;
  }
}

#data-grid-demo {
  min-height: 700px;
}

.side-navigation-menu {
  .menu-container {
    .dx-treeview {
      .dx-treeview-node-container {
        .dx-treeview-node.dx-state-selected>.dx-treeview-item {
          background-color: #0071a6 !important;

          & * {
            color: #fff;
          }
        }
      }
    }
  }
}

#gridDeleteSelected {
  position: absolute;
  z-index: 1;
  right: 0;
  margin: 1px;
  top: 0;
}

#gridDeleteSelected .dx-button-text {
  line-height: 0;
}

.dx-toolbar-item-content .dx-button-text {
  text-transform: none;
}

.dx-texteditor.dx-state-focused::before {
  border-bottom: transparent;
}

.dx-texteditor.dx-editor-filled.dx-state-hover::after {
  border-bottom: 1px solid rgba(0, 0, 0, .42);
}

.dx-texteditor.dx-editor-filled.dx-state-readonly {
  background-color: lightgray;
  cursor: pointer;
  border-bottom: transparent;

  &:hover {
    background-color: lightgray;
    cursor: pointer;
  }
}

.dx-datagrid-action.dx-cell-focus-disabled {
  &:hover {

    .dx-datagrid-text-content {
      color: #fff !important;
    }
  }
}

.dx-datagrid-headers .dx-datagrid-table .dx-row>td .dx-sort-indicator,
.dx-datagrid-headers .dx-datagrid-table .dx-row>td .dx-sort {
  color: #fff !important;
}

.dx-datagrid-rowsview .dx-row-focused.dx-data-row>td:not(.dx-focused):not(.dx-cell-modified):not(.dx-datagrid-invalid) {
  background-color: #d0ecff;
  border-top: 1px solid #d0ecff;
  border-bottom: 1px solid #d0ecff;
  color: rgba(0, 0, 0, .87);
}

.dx-datagrid-rowsview .dx-row-focused.dx-data-row .dx-command-edit .dx-link {
  background-color: #d0ecff;
  color: #0071a6;
}

.dx-datagrid .dx-link {
  color: #0071a6;
}

.dx-datagrid-rowsview .dx-row-focused.dx-data-row .dx-command-edit .dx-link {
  background-color: #d0ecff;
  color: #0071a6;

  &:focus {
    color: #0071a6;
    background-color: #d0ecff;
  }
}



.dx-pager .dx-pages .dx-page {
  color: rgba(0, 0, 0, .87);
  border: 0.3px solid #ccc;
  border-radius: 0;
  margin: 0;
}

// .dx-selection,
.dx-pager .dx-pages .dx-selection {
  background-color: #0071a6;
  color: #fff;
}

.dx-loadpanel-content {
  border: transparent;
  box-shadow: transparent;
}

.dx-datagrid-header-panel {
  .dx-toolbar-item {
    .dx-button {
      min-width: 100px !important;
    }

    .dx-toolbar-item-content {
      .dx-button-content {
        .dx-icon {
          display: none;
        }
      }

      .dx-datagrid-export-button {
        .dx-icon {
          display: block;
        }
      }
    }
  }
}

.item-filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .item-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% / 3);

    .select-wrapper {
      padding-left: 10px;
      width: calc(100% - 120px);
      position: relative;

      .loading-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 45%;
        top: 20%;
      }

      .dx-texteditor.dx-editor-filled::after {
        border-bottom: 0;
      }

      .dx-texteditor {
        background-color: transparent;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .dx-texteditor-container {
        height: 100%;
        min-height: 36px;

        .dx-texteditor-input-container {
          border-right: 1px solid #ccc;
        }

        input {
          padding: 5px 15px 5px;
        }

        .dx-placeholder::before {
          padding: 5px 15px 5px;
        }
      }

      .dx-editor-filled .dx-texteditor-buttons-container:last-child>.dx-dropdowneditor-button:last-child {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    .input-wrapper {
      display: flex;
      position: relative;
      overflow: hidden;
      padding-left: 10px;
      width: calc(100% - 120px);
      height: 36px;

      input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px 15px;

        &:focus-visible {
          border: none;
          outline: none;
        }

        &::before {
          left: 0;
          right: 0;
          bottom: 0;
          height: 0;
          width: 100%;
          content: "";
          position: absolute;
          z-index: 2;
          transform: scale(0);
        }

        &::after {
          content: "";
          border-bottom: 1px solid rgba(0, 0, 0, .42);

          left: 0;
          right: 0;
          bottom: 0;
          height: 0;
          width: 100%;
          content: "";
          position: absolute;
        }
      }
    }
  }

  .items-filter-label {
    display: block;
    width: 120px;
    text-align: right;
    font-weight: 600;
  }
}

.dx-datagrid-borders>.dx-datagrid-pager {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-top: 30px;
  //   padding: 0;

  .dx-page-sizes {

    //     order: 2;
    //     margin-left: 15px;
    border-radius: 0;
    //     display: flex;
    //     flex-wrap: wrap;
    //     flex-direction: row;

    //     .dx-page-size {
    //       margin-left: 0;
    //       margin-right: 0;
    //       padding: 3px 3px;
    //       line-height: 12px;
    //       border: 0.3px solid #ccc;
    //       width: 32px;
    //       height: 32px;
    //       display: flex;
    //       flex-wrap: wrap;
    //       justify-content: center;
    //       align-items: center;
    //     }
  }

  //   .dx-pages {
  //     order: 1;
  //   }
}

.dx-pager .dx-page-sizes .dx-selection {
  background-color: #0071a6;
  border-radius: 0;
}

.dx-header-row {
  td {
    &:hover {
      .dx-datagrid-text-content {
        color: #fff !important;
      }
    }
  }
}

.dx-toolbar .dx-toolbar-items-container {
  min-height: 56px;
  height: 100% !important;
}

.dx-toolbar-after {
  top: 0;
  right: 0;
}

.dx-texteditor-input,
.dx-widget {
  font-size: 13px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .dx-drawer {
    .toolbar-label {
      font-size: 22px;
    }

    .dx-datagrid-header-panel {
      display: flex;
      flex-wrap: wrap;

      .dx-toolbar-items-container {

        .dx-toolbar-after,
        .dx-toolbar-before,
        .dx-toolbar-center {
          position: unset;
          height: unset;
          width: 100%;
        }

        .dx-toolbar-before {
          margin-top: 15px;
        }

        .dx-toolbar-after {
          margin-left: auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
    }
  }


}

// .dx-datagrid-content {
//   background-color: gray;

//   .dx-data-row {

//     td {
//       color: #fff !important;
//     }

//   }
// }