body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

.dx-theme-material-typography {
  font-family: Arial, Helvetica, sans-serif;
}

.dx-pager {
  padding: 15px 0 0;

  .dx-page-size {
    &:hover {
      border-radius: 0;
    }
  }
}

.dx-dropdowneditor-overlay.dx-popup-wrapper .dx-overlay-content {
  overflow-y: auto;
}

.dx-row .dx-header-row,
.dx-datagrid-headers .dx-datagrid-nowrap {
  background-color: #0071a6;
}

.dx-scrollview-content {
  background-color: #fff;

  .content {
    // display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    height: 100%;

    .item-filter-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 100%;
      width: 100%;

      .item-filter {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: calc(100% / 3);

        .dx-texteditor.dx-editor-filled::after {
          border-bottom: 0;
        }

        .select-wrapper {
          padding-left: 10px;
          width: calc(100% - 120px);
          position: relative;

          .loading-icon {
            width: 20px;
            height: 20px;
            position: absolute;
            left: 45%;
            top: 20%;
          }

          .dx-texteditor.dx-editor-filled::after {
            border-bottom: 0;
          }

          .dx-texteditor {
            background-color: transparent;
            border: 1px solid #ccc;
            border-radius: 4px;
          }

          .dx-texteditor-container {
            height: 100%;
            min-height: 36px;

            .dx-widget {
              margin-left: 7px;
            }

            .dx-texteditor-input-container {
              border-right: 1px solid #ccc;
            }

            input {
              padding: 5px 15px 5px;
            }

            .dx-placeholder::before {
              padding: 5px 15px 5px;
            }
          }

          .dx-editor-filled .dx-texteditor-buttons-container:last-child>.dx-dropdowneditor-button:last-child {
            margin-left: 5px;
            margin-right: 5px;
          }
        }

        .input-wrapper {
          display: flex;
          position: relative;
          overflow: hidden;
          padding-left: 10px;
          width: calc(100% - 120px);
          height: 36px;

          input {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 5px 15px;

            &:focus-visible {
              border: none;
              outline: none;
            }

            &::before {
              left: 0;
              right: 0;
              bottom: 0;
              height: 0;
              width: 100%;
              content: "";
              position: absolute;
              z-index: 2;
              transform: scale(0);
            }

            &::after {
              content: "";
              border-bottom: 1px solid rgba(0, 0, 0, .42);

              left: 0;
              right: 0;
              bottom: 0;
              height: 0;
              width: 100%;
              content: "";
              position: absolute;
            }
          }
        }
      }

      .items-filter-label {
        display: block;
        width: 120px;
        text-align: right;
        font-weight: 600;
      }

      .dx-selectbox.dx-textbox {
        width: calc(100% - 130px);
        margin-left: auto;
        padding-left: 0;
        background-color: transparent;
        border: 1px solid #ccc;
        border-radius: 4px;

      }
    }
  }

  .dx-datagrid {
    padding: 0;
  }
}



.toolbar-label {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2;
}

.screen-large .responsive-paddings {
  padding: 15px 15px 0 !important;
  gap: 10px 0;
}

.screen-small,
.screen-x-small {
  .responsive-paddings {
    padding: 15px 15px 0 !important;
    gap: 10px 0;

    @media (min-width: 300px) and (max-width: 376px) {
      padding: 5px 5px 0 !important;
    }
  }
}

.dx-datagrid-header-panel {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0 !important;
  padding: 0;
  background-color: #fff;
  margin-bottom: 15px;
}


.dx-button-has-icon {
  transform: translateX(-3px);
}

.dx-datagrid-headers .dx-datagrid-table .dx-row {
  &>td {
    border-right: 1px solid #e0e0e0;
  }
}

.dx-datagrid-rowsview .dx-row-focused.dx-data-row>td {
  border-bottom: 0px solid green;
}

.dx-datagrid-focus-overlay:after {
  background-color: #0071a6;
  height: 1px;
}

.editable-data {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dx-datagrid .dx-row-lines {
  &>td {
    border-right: 1px solid #ccc;
  }

  td:first-child {
    border-left: 1px solid #ccc !important;
  }
}

.dx-datagrid-headers+.dx-datagrid-rowsview {
  border-bottom: 1px solid #ccc !important;
}

.dx-dropdownbutton.dx-dropdownbutton-has-arrow .dx-button-has-icon.dx-buttongroup-last-item .dx-button-content {
  background-color: #0071a6;
  padding: 7px;

  & i {
    color: #fff;
  }

  .dx-icon-export {
    display: none !important;
  }

  .dx-icon-spindown {
    width: 16px !important;
    margin-right: 0;
    margin-left: 0;
  }
}

#data-grid-demo {
  min-height: 700px;
}

.side-navigation-menu {
  .menu-container {
    .dx-treeview {
      .dx-treeview-node-container {
        .dx-treeview-node.dx-state-selected>.dx-treeview-item {
          background-color: #0071a6 !important;

          & * {
            color: #fff;
          }
        }
      }
    }
  }
}

#gridDeleteSelected {
  position: absolute;
  z-index: 1;
  right: 0;
  margin: 1px;
  top: 0;
}

#gridDeleteSelected .dx-button-text {
  line-height: 0;
}

.dx-toolbar-item-content .dx-button-text {
  text-transform: none;
}

.dx-texteditor.dx-state-focused::before {
  border-bottom: transparent;
}

.dx-texteditor.dx-editor-filled.dx-state-hover::after {
  border-bottom: 1px solid rgba(0, 0, 0, .42);
}

.dx-texteditor.dx-editor-filled.dx-state-readonly {
  background-color: lightgray;
  cursor: pointer;
  border-bottom: transparent;

  &:hover {
    background-color: lightgray;
    cursor: pointer;
  }
}

.dx-scrollable-wrapper {
  .dx-datagrid-table {
    .merged-row {
      display: flex;
      flex-wrap: wrap;

      .merged-items {
        &:first-child {
          width: 25%;
        }

        &:last-child {
          width: 75%;
        }
      }

      .merged-item {
        width: 100%;
      }
    }
  }
}

.dx-datagrid-action.dx-cell-focus-disabled {
  &:hover {
    .dx-datagrid-text-content {
      color: #fff !important;
    }
  }
}

.dx-datagrid-headers .dx-datagrid-table .dx-row>td .dx-sort-indicator,
.dx-datagrid-headers .dx-datagrid-table .dx-row>td .dx-sort {
  color: #fff !important;
}

.dx-datagrid-rowsview {
  .dx-row-focused.dx-group-row {
    background-color: #d0ecff;
    color: rgba(0, 0, 0, 0.87);
  }

  .dx-row-focused.dx-data-row {
    .dx-command-edit .dx-link {
      background-color: #d0ecff;
      color: #0071a6;

      &:focus {
        color: #0071a6;
        background-color: #d0ecff;
      }
    }

    &>td:not(.dx-focused):not(.dx-cell-modified):not(.dx-datagrid-invalid) {
      background-color: #d0ecff;
      border-top: 1px solid #d0ecff;
      border-bottom: 1px solid #d0ecff;
      color: rgba(0, 0, 0, .87);
    }
  }
}

.dx-pager {
  .dx-pages {
    float: unset;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

    .dx-page-indexes {
      order: 1;
      margin-right: 15px;
    }

    .dx-info {
      order: 2;
    }

    .dx-page {
      color: rgba(0, 0, 0, .87);
      border: 0.3px solid #ccc;
      border-radius: 0;
      margin: 0;
    }

    .dx-selection {
      background-color: #0071a6;
      color: #fff;
    }

    .dx-loadpanel-content {
      border: transparent;
      box-shadow: transparent;
    }
  }
}

.dx-datagrid-header-panel {
  .dx-toolbar-item {
    .dx-button {
      min-width: 100px !important;
    }

    .dx-toolbar-item-content {
      .dx-button-content {
        .dx-icon {
          display: none;
        }
      }

      .dx-datagrid-export-button {
        .dx-icon {
          display: block;
        }
      }
    }
  }
}

.warning-icon {
  background-color: transparent;
  text-align: center;
}

.dx-popup-content {
  padding: 15px;
  height: unset !important;

  p {
    text-align: center;
  }
}

.dx-datagrid {
  padding: 15px;

  .export-excel-button,
  .export-pdf-button {
    background-color: #0071a6;
    color: #fff;
  }
}

.dx-row .dx-header-row,
.dx-datagrid-headers .dx-datagrid-nowrap {
  background-color: #0071a6 !important;
}

.dx-datagrid-headers,
.dx-header-row {
  background-color: #0071a6 !important;
  color: #fff;

  td:hover {
    div {
      color: #fff;
    }
  }
}

.modal {
  .modal-dialog {
    min-height: 200px;
    max-width: 1000px;

    .modal-content {
      background-color: #fff;
      flex-wrap: wrap;

      .modal-header {
        padding: 5px;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;

        .modal-title-wrapper {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          align-content: center;

          .modal-logo {
            width: 22px;
            height: 22px;
            object-fit: contain;
          }

          .modal-title {
            font-size: 14px;
            margin-left: 10px;
          }
        }

        .btn-close {
          margin: 0;
          margin-right: 10px;
        }
      }

      .modal-body {
        .item-header {
          .item-title {

            p {
              color: #0071a6;
              font-size: 16px;
              text-transform: uppercase;
            }
          }
        }

        .item-data {
          max-width: 100%;
        }

        .upload-item-wrapper {
          margin-top: 15px;

          .upload-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;


            .upload {
              margin-left: 10px;
              outline: none;
              border: none;
              background-color: #0071a6;
              color: #fff;
              border-radius: 5px;
              padding: 5px 3px;
              max-width: 120px;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.loading-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-modal__show {
  z-index: 999;
  background-color: lightgrey;
}

.dx-datagrid-borders>.dx-datagrid-pager {
  .dx-page-sizes {
    border-radius: 0;
  }
}

.data-grid {
  max-width: 100% !important;
  min-height: 200px;
  max-height: 500px;

  @media (min-height: 800px) {
    min-height: 200px;
    max-height: 700px;
  }
}

.dx-pager .dx-page-sizes .dx-selection {
  background-color: #0071a6;
  border-radius: 0;
}

.dx-header-row {
  td {
    &:hover {
      .dx-datagrid-text-content {
        color: #fff !important;
      }
    }
  }
}

.dx-toolbar .dx-toolbar-items-container {
  min-height: 56px;
  height: 100% !important;
}

.dx-toolbar-after {
  top: 0;
  right: 0;
}

.dx-texteditor-input,
.dx-widget {
  font-size: 13px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .dx-drawer {
    .toolbar-label {
      font-size: 22px;
    }

    .dx-datagrid-header-panel {
      display: flex;
      flex-wrap: wrap;

      .dx-toolbar-items-container {

        .dx-toolbar-after,
        .dx-toolbar-before,
        .dx-toolbar-center {
          position: unset;
          height: unset;
          width: 100%;
        }

        .dx-toolbar-before {
          margin-top: 15px;
        }

        .dx-toolbar-after {
          margin-left: auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
    }
  }
}