body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dx-pager {
  padding: 13px 16px 0;
}

.dx-row .dx-header-row,
.dx-datagrid-headers .dx-datagrid-nowrap {
  background-color: #0071a6;
}

.dx-scrollview-content {
  background-color: #fff;

  .dx-datagrid {
    padding: 0;
  }
}

.toolbar-label {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2;
}

.dx-datagrid-header-panel {
  padding: 0;
}

.dx-dropdownbutton.dx-dropdownbutton-has-arrow .dx-button-has-icon.dx-buttongroup-last-item .dx-button-content {
  background-color: #0071a6;
  padding: 7px;

  & i {
    color: #fff;
  }
}

#data-grid-demo {
  min-height: 700px;
}

#gridDeleteSelected {
  position: absolute;
  z-index: 1;
  right: 0;
  margin: 1px;
  top: 0;
}

#gridDeleteSelected .dx-button-text {
  line-height: 0;
}

.dx-toolbar-item-content .dx-button-text {
  text-transform: none;
}

.dx-texteditor.dx-state-focused::before {
  border-bottom: transparent;
}

.dx-texteditor.dx-editor-filled.dx-state-hover::after {
  border-bottom: 1px solid rgba(0, 0, 0, .42);
}

.dx-texteditor.dx-editor-filled.dx-state-readonly {
  background-color: lightgray;
  cursor: pointer;
  border-bottom: transparent;

  &:hover {
    background-color: lightgray;
    cursor: pointer;
  }
}

.dx-datagrid-action.dx-cell-focus-disabled {
  &:hover {

    .dx-datagrid-text-content {
      color: #fff !important;
    }
  }
}

.dx-datagrid-headers .dx-datagrid-table .dx-row>td .dx-sort-indicator,
.dx-datagrid-headers .dx-datagrid-table .dx-row>td .dx-sort {
  color: #fff !important;
}

.dx-datagrid-rowsview .dx-row-focused.dx-data-row>td:not(.dx-focused):not(.dx-cell-modified):not(.dx-datagrid-invalid) {
  background-color: #d0ecff;
  border-top: 1px solid #d0ecff;
  border-bottom: 1px solid #d0ecff;
  color: rgba(0, 0, 0, .87);
}

.dx-datagrid-rowsview .dx-row-focused.dx-data-row .dx-command-edit .dx-link {
  background-color: #d0ecff;
  color: #0071a6;
}

.dx-datagrid .dx-link {
  color: #0071a6;
}

.dx-datagrid-rowsview .dx-row-focused.dx-data-row .dx-command-edit .dx-link {
  background-color: #d0ecff;
  color: #0071a6;

  &:focus {
    color: #0071a6;
    background-color: #d0ecff;
  }
}



.dx-pager .dx-pages .dx-page {
  color: rgba(0, 0, 0, .87);
  border: 0.3px solid #ccc;
  border-radius: 0;
  margin: 0;
}

// .dx-selection,
.dx-pager .dx-pages .dx-selection {
  background-color: #0071a6;
  color: #fff;
}

.dx-loadpanel-content {
  border: transparent;
  box-shadow: transparent;
}

.dx-datagrid-header-panel {
  .dx-toolbar-item {
    .dx-button {
      min-width: 100px !important;
    }

    .dx-toolbar-item-content {
      .dx-button-content {
        .dx-icon {
          display: none;
        }
      }

      .dx-datagrid-export-button {
        .dx-icon {
          display: block;
        }
      }
    }
  }
}

.item-filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .item-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .input-wrapper {
      display: flex;
      position: relative;
      overflow: hidden;
      width: 250px;
      height: 48px;

      &::before {
        left: 0;
        right: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        content: "";
        position: absolute;
        z-index: 2;
        transform: scale(0);
      }

      &::after {
        content: "";
        border-bottom: 1px solid rgba(0, 0, 0, .42);

        left: 0;
        right: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        content: "";
        position: absolute;
      }

      input {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .04);
        border: none;
        padding: 5px 15px;

        &:focus-visible {
          border: none;
          outline: none;
        }
      }
    }
  }

  .items-filter-label {
    display: block;
    width: 130px;
    text-align: right;
    padding-right: 10px;
  }
}

.dx-datagrid-borders>.dx-datagrid-pager {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-top: 30px;
  //   padding: 0;

  .dx-page-sizes {

    //     order: 2;
    //     margin-left: 15px;
    border-radius: 0;
    //     display: flex;
    //     flex-wrap: wrap;
    //     flex-direction: row;

    //     .dx-page-size {
    //       margin-left: 0;
    //       margin-right: 0;
    //       padding: 3px 3px;
    //       line-height: 12px;
    //       border: 0.3px solid #ccc;
    //       width: 32px;
    //       height: 32px;
    //       display: flex;
    //       flex-wrap: wrap;
    //       justify-content: center;
    //       align-items: center;
    //     }
  }

  //   .dx-pages {
  //     order: 1;
  //   }
}

.dx-pager .dx-page-sizes .dx-selection {
  background-color: #0071a6;
}