body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dx-pager {
  padding: 13px 16px 0;
}

.dx-row .dx-header-row,
.dx-datagrid-headers .dx-datagrid-nowrap {
  background-color: #0071a6;
}

.dx-scrollview-content {
  background-color: #fff;

  .dx-datagrid {
    padding: 0;
  }
}

.toolbar-label {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
}

.dx-datagrid-header-panel {
  padding: 0;
}

.dx-dropdownbutton.dx-dropdownbutton-has-arrow .dx-button-has-icon.dx-buttongroup-last-item .dx-button-content {
  background-color: #0071a6;
  padding: 7px;

  & i {
    color: #fff;
  }
}